circle:hover {
  opacity: 0.5;
}

circle.twentyf {
    
}

@media screen and (max-width: 400px)
{
    .topnav a{
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .column.side, .column.middle, .column {
        width:100%;
    }
}
