#warning {
     color: red;
}

circle:hover {
      opacity: 0.5;
    }

    table, th, td{

        padding: 15px;
        border: 1px solid black;
        border-collapse: collapse;
    }

div.flex-container {
          width: 65%;
          border: solid 15px;

          border-color: grey;
          padding: 50px;
          margin: auto;
          display: flex;
          flex-direction: column;
}

body{
    background: #CAD5E3;
}
